<div class="panel panel-default col-md-8 center">
  <div class="panel-heading">Edit Brew</div>
    <%= form_for @brew do |f| %>
      <div class="panel-body text-left">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :status %><br/>
          <%= f.select :status, @brew.calendar.brew_statuses, class: "selectpicker" %>
        </div>
        <div class="field">
          <%= f.label "Planned Brew Date" %>
          <%= f.date_field :planned_date, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label "Brewed On Date" %>
          <%= f.date_field :brewed_on, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label "Tapped On Date" %>
          <%= f.date_field :tapped_on, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :recipe_url %>
          <%= f.text_field :recipe_url, class: "form-control" %>
        </div>
        <div class="field">
          <div class="gravities">
            <%= f.label :og %>
            <%= f.number_field :og, class: "form-control", min: 0.0, max: 2.0, step: 0.001%> 
            <%= f.label :fg %>
            <%= f.number_field :fg, class: "form-control", min: 0.0, max: 2.0, step: 0.001 %>          
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= link_to "delete", brew_path(@brew),
              class: "btn btn-danger delete",
              method: :delete,
              confirm: "Are you sure?" %>
        <%= f.button :submit, :class => 'btn btn-primary submit' %>
      </div> 
    <% end %>
  </div>  
</div>