<div class="panel panel-default col-md-4 center">
  <div class="panel-heading"><%= heading_label %></div>
  <div class="panel-body">
    <%= form_for @user do |f| %>
      <%= render 'errors', obj: @user %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.submit submit_label, class: "btn btn-green center" %>
      </div>
      <div class="field">
        <% if show_delete %>
          <%= link_to "Delete Account", user_path(current_user),
                              class: "btn btn-danger",
                              method: :delete,
                              confirm: "Are you sure? All data will be permanently removed from the system." %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>