<h1>Signup</h1>
<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Enter your name" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Enter your email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Enter your password" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "Re-enter your password" %>
  </div>
  <div>
    <%= f.submit "Signup" %>
  </div>
<% end %>