<% can_edit ||= false %>
<section class="card">
  <% if can_edit %>
    <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), "#edit", { class: "edit-link", data: { toggle:"modal" }} %> 
  <% end %>
  <span class="card-title"><%= brew.name %></span></br>
  <% if brew.recipe_url.present? %>
    <%= link_to "Recipe", brew.recipe_url %><br/>
  <% end %>
  <% if brew.description.present? %>
    <p class="card-description"><%= brew.short_description %></p><br/>
  <% end %>
  <span class="original-gravity">
    OG: <%= brew.og %>
  </span>
  <span class="final-gravity">
    FG: <%= brew.fg %>
  </span>
  <span class="brewdate"><%= brew.recent_brew_status %></span>
</section>