<!DOCTYPE html>
<html>
<head>
  <title>Brewcal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href="normalize.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav>
      <%= link_to "Kevin's Brewing Calendar", root_path, class: "header-title" %>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div id="copyright">
      &copy; 2013 Kevin VanderLugt
    </div>

    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Faq", faq_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </footer>
</body>
</html>
